<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>QuizzyCall</h1>
        
        <button id="0"></button>
        <button id="1"></button>
        <button id="2"></button>
        <button id="3"></button>
        <ul id='messages'>

        </ul>

        <script>
            var ws = new WebSocket("ws://localhost:8000/api/quiz/session_quiz/{{id}}?token={{token}}");;
            function createSession(event){
                ws.send(JSON.stringify({name: content}))
            }
            
            function cellClick(data) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode('you choosed ' + data.title)
                message.appendChild(content)
                messages.appendChild(message)
                ws.send(JSON.stringify({answer: data}))
            }
            ws.onmessage = function(event) {
                if (JSON.parse(event.data).question) {
                    var messages = document.getElementById('messages')
                    var answers = JSON.parse(event.data).question.answers
                    for (answer in answers) {
                        var button = document.createElement('button');

                        button.data = answers[answer];
                        button.innerHTML = answers[answer].title;
                        button.addEventListener("click", function(e) {
                            cellClick(e.target.data);
                        });
                        messages.appendChild(button)
                    }
                } else {
                    var messages = document.getElementById('messages');
                    var message = document.createElement('li');
                    var content = document.createTextNode(event.data);
                    message.appendChild(content);
                    messages.appendChild(message);
                }
            };

        </script>
    </body>
</html>
